*, *::before, *::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    padding: 2px;
    background-color: rgb(150, 250, 150);
}

body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto 90% auto;
    min-height: 97vh;
    min-width: 97vw;
}

header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    background-color: rgb(100, 180, 100);
}

nav {
    width: 100%;
    display: grid;
    grid-template-areas: "logo" "elements";
    grid-template-columns: 0% 100%;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

nav a {
    grid-area: "elements";
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(50, 50, 160, 0.75);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 10%;
}

nav a:hover, #login-btn:hover, #create-acc:hover {
    background-color: rgb(40, 40, 130);
    color: rgb(255, 255, 255);
}

#logo {
    grid-area: "logo";
    height: auto;
    max-width: 50px;
    padding: 3px;
}

nav ul {
    padding: 5px;
    margin: 0;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    text-decoration: none;
    align-items: center;
}

nav li {
    padding: 0;
    margin: 0;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    background-color: rgb(150, 250, 150);
}

.page-title {
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(100, 180, 100);
    justify-content: center;
    padding: 1.5%;
    margin-top: 5px;
    max-width: fit-content;
    align-self: center;
}

#login-btn, #create-acc {
    background-color: rgba(50, 50, 160, 0.75);
}

main form {
    align-self: center;
    justify-items: center;
    border-style: solid;
    max-width: min-content;
    padding: 20px;
    margin-top: 5%;
}

main form div {
    margin: 5%;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(100, 180, 100);
    color: rgb(255, 255, 255);
    padding: 5px;
}

footer a {
    color: white;
    padding-right: 10px;
}

