#leaderboard, #database {
    display: flex;
    justify-content: center;
    margin: 1%;
    position: relative;
}


.board {
    position: absolute;
    width: 100%;
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

th, td {
    padding: 6px 10px;
    text-align: center;
    font-family: importedFont;
}

th, td {
    border: none;
}

@font-face {
    font-family: importedFont;
    src: url(HussarBoldCondensed-mmrV.otf);
}

