#leaderboard, #database {
    display: flex;
    justify-content: center;
    margin: 1%;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

th, td {
    padding: 6px 10px;
    text-align: center;
    font-family: importedFont;
}

th, td {
    border: none;
}

@font-face {
    font-family: importedFont;
    src: url(HussarBoldCondensed-mmrV.otf);
}

