* {
    box-sizing: border-box;
}

#leaderboard{
    position: relative;
    margin: 0 auto;
    min-height: 400px;
}

/* Now with animations! */
.board {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    transition: opacity 0.8s ease, transform 2s ease;
    min-width: fit-content;
}

.board h2 {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

.visible {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.hidden {
    opacity: 0;
    transform: translateX(20px);
    pointer-events: none; /* So you can't highlight it when it isn't there */
}


table {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

th, td {
    padding: 6px 10px;
    text-align: center;
    font-family: importedFont;
}

th, td {
    border: none;
}

@font-face {
    font-family: importedFont;
    src: url(HussarBoldCondensed-mmrV.otf);
}

